* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Circular", sans-serif;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #000;
  padding: 25px 10px;
  height: 60px;
  width: 100%;
}

.header__one {
  display: flex;
  gap: 20px;
}

.spotify__icon {
  font-size: 2em;
  padding: 4px;
  color: #fff;
}

/* Search Bar */

.home__button {
  background-color: #373737;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.1s ease-in-out;
}

.home__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.home__button:active {
  transform: scale(1);
  opacity: 0.8;
}

.house__icon {
  font-size: 1.5em;
  color: #c5c3c3;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search__box {
  padding: 8px 20px;
  margin: 0 10px;
  background-color: #373737;
  border-radius: 25px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  min-width: 100px;
  transition: background-color 0.1s ease-in-out, width 0.3s ease-in-out;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0);
}

.search__box:hover {
  background-color: #3f3f3f;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.176);
}

#searchBox {
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.search__input {
  width: 90%;
  font-size: 1.1em;
  border-color: #37373700;
  background: transparent;
  border: none;
  color: #fff;
  transition: width 0.3s ease-in-out;
}

.search__input:focus {
  outline: none;
}

.search__icon {
  font-size: 1.2em;
  color: #c5c3c3;
  margin-right: 10px;
}

.search__icon:active {
  cursor: pointer;
}

.search__hr {
  border-color: #c5c3c3;
  width: 25px;
  transform: rotate(90deg);
  min-width: 25px;
}

.folder__button {
  font-size: 1.2em;
  color: #c5c3c3;
  transition: color 0.1s ease-in-out;
}

.folder__button:active {
  color: #8f8f8f;
}

.folder__button .nav__one__list {
  display: flex;
  gap: 15px;
}

.header__two {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Links */

ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

a {
  text-decoration: none;
  color: #c5c3c3;
}

.links {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1.2px;
  display: block;
  transition: transform 0.1s ease-in-out;
}

.links:hover {
  color: #fff;
  transform: scale(1.05);
}

.links:active {
  opacity: 0.5;
  transform: scale(1);
}

.nav__hr {
  border: 0;
  height: 1px;
  background: #c5c3c3;
  width: 26px;
  transform: rotate(90deg);
}

.links__2 {
  padding: 0 10px;
  font-size: 0.9em;
  font-weight: bold;
  display: block;
  transition: transform 0.1s ease-in-out;
}

.links__2:hover {
  color: #fff;
  transform: scale(1.05);
}

.links__2:active {
  opacity: 0.6;
  transform: scale(1);
}

/* Side Menu */

.side__menu {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #000;
  color: #fff;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.2em;
  transition: left 0.25s ease-in-out;
}

.side__menu__x {
  text-align: right;
  font-size: 1.3em;
}

.side__menu__nav__1 {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 1.1em;
}

.side__menu__nav__1 li {
  margin-bottom: 10px;
}

.side__menu__hr {
  width: 20px;
  margin-bottom: 20px;
}

.side__menu__nav__2 {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.9em;
}

.side__menu__nav__2 li {
  margin-bottom: 10px;
}

/* Log in Button */

button {
  padding: 10px;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 0.9em;
  transition: transform 0.1s ease-in-out;
}

.menu {
  display: none;
  padding: 0 10px;
  font-size: 1.2em;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
  background-color: #8f8f8f;
}

.open__app__btn {
  display: none;
  padding: 0 10px;
}

.search__icon__2 {
  display: none;
}

.nav__3 {
  min-width: 200px;
  max-width: 200px;
}

/* Media Queries */

@media screen and (min-width: 1245px) {
  .home__button {
    display: none;
  }

  .home__button {
    display: block;
  }
}

@media screen and (max-width: 930px) {
  .search__box {
    width: 50%;
    min-width: 110px;
  }

  .search__input {
    width: 0%;
  }
}

@media screen and (max-width: 883px) {
  .nav__2 {
    display: none;
  }

  .search__box {
    width: 100%;
  }

  .search__input {
    width: 90%;
  }
}

@media screen and (max-width: 620px) {
  header {
    width: 100%;
  }

  .header__two {
    margin-left: -55px;
  }

  .search__box {
    display: none;
  }

  .search__icon__2 {
    display: block;
  }

  .menu {
    display: block;
  }

  hr {
    display: none;
  }

  ul {
    display: none;
  }

  .login__btn {
    display: none;
  }

  .open__app__btn {
    display: block;
  }

  .home__button {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .header__two {
    margin-left: -100px;
  }
}

@media screen and (max-width: 360px) {
  .header__two {
    margin-left: -100px;
  }
}

@media screen and (max-width: 320px) {
  .header__two {
    margin-left: -130px;
  }
}
